@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Regular.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 400;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Italic.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 250;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Thin.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 250;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-ThinItalic.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 275;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-ExtraLight.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 275;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-ExtraLightItalic.woff2)
      format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Light.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 300;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-LightItalic.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Medium.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 500;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-MediumItalic.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-SemiBold.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 600;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-SemiBoldItalic.woff2)
      format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Bold.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 700;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-BoldItalic.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 800;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-ExtraBold.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 800;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-ExtraBoldItalic.woff2)
      format("truetype");
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-Black.woff2) format("truetype");
}

@font-face {
  font-family: inter;
  font-style: italic;
  font-weight: 900;
  src:
    local("Inter"),
    url(/public/fonts/Inter/Inter-BlackItalic.woff2) format("truetype");
}
