@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 400;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Regular.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 400;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Italic.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 250;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Thin.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 250;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-ThinItalic.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 275;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 275;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-ExtraLightItalic.ttf)
      format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 300;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Light.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 300;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 500;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Medium.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 500;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 600;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 600;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-SemiBoldItalic.ttf)
      format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 700;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Bold.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 700;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 800;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 800;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-ExtraBoldItalic.ttf)
      format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: normal;
  font-weight: 900;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-Black.ttf) format("truetype");
}

@font-face {
  font-family: intertight;
  font-style: italic;
  font-weight: 900;
  src:
    local("Inter Tight"),
    url(/public/fonts/InterTight/InterTight-BlackItalic.ttf) format("truetype");
}
